<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
<!-- here instead of href [routerLink] is being used  and content inside it is array of routes-->
    <a  class="navbar-brand"  [routerLink]=" ['/'] ">
        <img src="../../../assets/img.png" 
            width="30" 
            height="30" alt=""> Github App 
    </a> 

<div class="navbar-collapse">
    <div class="navbar-nav ml-auto">
        <div *ngIf="email" class="navbar-text float-left">
            {{email}}
        </div >
            <a class="nav-item nav-link" [routerLink]=" ['/']  " >Home</a>
            <a *ngIf="!email" class="nav-item nav-link" 
                routerLinkActive="active" [routerLink]=" ['/signin'] ">SignIn</a>
            <a *ngIf="!email" class="nav-item nav-link"
            routerLinkActive="active" [routerLink]=" ['/signup']  " >SignUp</a>
            <a *ngIf="email" class="nav-item nav-link" 
                (click)="handleSignOut()"  >Logout</a>
            

    </div>
</div>


</nav>